@media (min-width:1516px){
    body{
        margin: 63px;
        padding: 150px;
        width: 1533px;
        height: 7900px;
    }
    
    .navegador{
    padding: 51px;
    width: 117px;
    height: 152px;
    font-weight: 1264px;
    font-size: 51px;
    line-height: 60px;
    }
    
    .navbar{
        margin-top: 107px;
    }
    
    .cabecera{
        width: 1533px;
        height: 1055px;
    }
    
    
    .line{
    width: 1264px;
    height: 0px;
    left: 130px;
    top: 218px;
    border: 3px solid #FFFFFF;
    }
    
    .nombre{
    margin-top: 253px;
    font-weight: 1264px;
    font-size: 152px;
    line-height: 171px;
    }
    
    .bienvenida{
    margin-top: 250px;
    font-weight: 1264px;
    font-size: 120px;
    line-height: 85px;
    }
    
    .carrusel{
        top: 1144px;
    }
    
    .imagen{
        width: 1232px;
        height: 1248px;
    }
    
    .sobremi{
    top: 1959px;
    }
    
    .sobremititulo{
        width: 1059px;
        height: 107px;
        font-weight: 1264px;
        font-size: 120px;
        line-height: 85px;
        }
        
    .perfil{
        top: 221px;
        width: 1169px; 
        border-radius: 63px;
    }
    
    .descripcion{
        width: 1106px;
        height: 461px;
        top: 1169px;
        font-weight: 1264px;
        font-size: 51px;
        line-height: 57px; 
    }
    
    .subtitulos{
        width: 1059px;
        height: 107px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
    
    }
    
    .intereses{
        width: 1264px;
        height: 461px;
        top: 250px;
        font-weight: 1264px;
        font-size: 51px;
        line-height: 57px;
    }
    
    .cortoplazo{
        width: 1059px;
        height: 107px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
    
    }
    
    .textocortoplazo{
        width: 1264px;
        height: 461px;
        top: 250px;
        font-weight: 1264px;
        font-size: 51px;
        line-height: 57px;
    }
    
    .largoplazo{
        width: 1059px;
        height: 107px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
    
    }
    
    .textolargoplazo{
        width: 1264px;
        height: 461px;
        top: 250px;
        font-weight: 1264px;
        font-size: 51px;
        line-height: 57px;
    }
    
    .parte2{
        top: 1517px;
    }
    .parte3{
        top: 1959px;
    
    }
    .parte4{
        top: 2212px;
    
    }
    
    .experiencia{
        top:4519px;
    }
    
    .rectangulo{
    left:-63px;
    top:221px;
    width: 1327px;
    height: 1169px;
    border-radius: 250px;
    }
    
    .titulosproyectos{
        width: 578px;
        height: 73px;
        left: 259px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
    }
    
    .parrafoproyecto{
    width: 749px;
    height: 104px;
    left:250px;
    top:250px;
    font-weight: 1264px;
    font-size: 44px;
    line-height: 51px;
    }
    
    .link{
        left: 410px;
        top: 284px;
    }
    
    .parte2experiencia{
        top:379px;
    }
    
    .parte3experiencia{
        top:758px;
    }
    
    .imagenproyectos{
    width: 354px;
    height: 275px;
    top:63px;
    left: 916px;
    }
    
    .habilidades{
        top:5972px;
    }
    
    .tituloshabilidades1{
        width: 869px;
        height: 120px;
        left: 150px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
        top:25px;
    }
    .tituloshabilidades2{
        width: 869px;
        height: 120px;
        left: 150px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
        top:173px;
    }
    .tituloshabilidades3{
        width: 869px;
        height: 120px;
        left: 150px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
        top:341px;
    }
    .tituloshabilidades4{
        width: 869px;
        height: 120px;
        left: 150px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
        top:499px;
    }
    .tituloshabilidades5{
        width: 869px;
        height: 120px;
        left: 150px;
        font-weight: 1264px;
        font-size: 63px;
        line-height: 70px;
        top:657px;
    }
    
    .rectangulo11{
        width: 1134px;
        height: 44px;
        left: 150px;
        top:250px;
    }
    .rectangulo12{
        width: 1134px;
        height: 44px;
        left: 150px;
        top:316px;
    }
    .rectangulo13{
        width: 1134px;
        height: 44px;
        left: 150px;
        top:474px;
    }
    .rectangulo14{
        width: 1134px;
        height: 44px;
        left: 150px;
        top:632px;
    }
    .rectangulo15{
        width: 1134px;
        height: 44px;
        left: 150px;
        top:1248px;
    }
    
    .rectangulo2{
        width: 628px;
        height: 44px;
        left: 150px;
        top: 250px;
    }
    
    .rectangulo3{
        width: 692px;
        height: 44px;
        left: 150px;
        top: 316px;
    }
    
    .rectangulo4{
        width: 916px;
        height: 44px;
        left: 150px;
        top: 474px;
    }
    .rectangulo5{
        width: 660px;
        height: 44px;
        left: 150px;
        top: 632px;
    }
    .rectangulo6{
        width: 660px;
        height: 44px;
        left: 150px;
        top: 1248px;
    }
    
    .habilidadesparte2{
        top:120px;
    }
    
    .habilidadesparte3{
        top:379px;
    }
    
    .habilidadesparte4{
        top:569px;
    }
    
    .habilidadesparte5{
        top:758px;
    }
    
    .rectangulohabilidades{
        left:-63px;
        top:221px;
        width: 1327px;
        height: 948px;
        border-radius: 250px;
        }
    
    .contactame{
        top:7205px;
    }
    .formulario{
        top:120px;
    
    }
    
    .iconos{
    width: 316px;
    height: 316px;
    left: 221px;
    top:632px;
    }
    
    .iconos2{
        position: absolute;
        width: 316px;
        height: 316px;
        left: 632px;
        top:632px;
        }
}