@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

body{
    
    align-items: center;
    margin: 20px;
    padding: 30px;
    width: 485px;
    height: 2700px;
    background: #DCFFFF;
}

.navegador{
padding: 10px;
width: 37px;
height: 48px;
font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

.navbar{
    margin-top: 34px;
}

.cabecera{
    text-align: center;
    align-items: center;
    position: absolute;
    width: 485px;
    height: 334px;
    left: 0px;
    top: 0px;
    background: #0A0A0B;
}


.line{
justify-content: center;
position: absolute;
width: 400px;
height: 0px;
left: 41px;
top: 69px;
border: 1px solid #FFFFFF;
}

.nombre{
margin-top: 80px;
text-align: center;
font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 54px;
color: #FFFFFF;
}

.bienvenida{
margin-top: 50px;
font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
color: #00A74D;
}

.carrusel{
    position: absolute;
    top: 362px;
    display: flex;
    justify-content: center;
}

.imagen{
    width: 390px;
    height: 250px;
}

.sobremi{
position: absolute;
top: 620px;
}

.sobremititulo{
    position: absolute;
    width: 335px;
    height: 34px;
    
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #02B554;
    
    }
    
.perfil{
    display:flex;
    justify-content:center;
    position: absolute;
    top: 70px;
    width: 370px; 
    border-radius: 20px;
}

.descripcion{
    position: absolute;
    width: 350px;
    height: 146px;
    top: 370px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;   
}

.subtitulos{
    position: absolute;
    width: 335px;
    height: 34px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #02B554;

}

.intereses{
    position: absolute;
    width: 350px;
    height: 146px;
    top: 50px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;  
}

.cortoplazo{
    position: absolute;
    width: 335px;
    height: 34px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #02B554;

}

.textocortoplazo{
    position: absolute;
    width: 350px;
    height: 146px;
    top: 50px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;  
}

.largoplazo{
    position: absolute;
    width: 335px;
    height: 34px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #02B554;

}

.textolargoplazo{
    position: absolute;
    width: 350px;
    height: 146px;
    top: 50px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;  
}

.parte2{
    position: absolute;
    top: 480px;
}
.parte3{
    position: absolute;
    top: 620px;

}
.parte4{
    position: absolute;
    top: 700px;

}

.experiencia{
    position: absolute;
    top:1430px;
}

.rectangulo{
position: absolute;
left:-20px;
top:70px;
width: 420px;
height: 370px;
background: #9EF3FF;
border-radius: 50px;
}

.titulosproyectos{
    position: absolute;
    width: 183px;
    height: 23px;
    left: 82px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;

}

.parrafoproyecto{
position: absolute;
width: 237px;
height: 33px;
left:50px;
top:50px;

font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
}

.link{
    position: absolute;
    left: 130px;
    top: 90px;
}

.parte2experiencia{
    position: absolute;
    top:120px;
}

.parte3experiencia{
    position: absolute;
    top:240px;
}

.imagenproyectos{
position: absolute;
width: 112px;
height: 87px;
top:20px;
left: 290px;
}